#ekishara {
    margin: 10px;
    background: url('../img/bg/bgishara.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
}
@media only screen and (min-width: 820px) {
    #ekishara {
        width: 100%;
        height: 70vh;
        background-size: 55%;
    }
}
@media only screen and (max-width: 819px) {
    #ekishara {
        width: 100%;
        height: 65vh;
        background-size: 90%;
    }
}
#aboutpic { border-radius: 5px; }
@media only screen and (min-width: 820px) {
    #aboutpic, #missionpic {
        width: 99%;
    }
}
@media only screen and (max-width: 819px) {
    #aboutpic, #missionpic {
        width: 85vw;
    }
}
i { vertical-align: middle; }
#about, #mission, #works, #event, #contact { color: #FFFFFF; padding: 20px; border-radius: 7px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
#about {
    background: url('../img/bg/about.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mission {
    background-image: url('../img/bg/mission.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#works {
    background: url('../img/bg/works.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    
#event {
    background: url('../img/bg/event.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact { color: #000000; background-color: #415b7b; }

.cardTitle { font-family: 'Lato', sans-serif; color: #FFFFFF; font-size: 38px; font-weight: bold; }
.hlogo { width: 50px; filter:invert(100%); }
#works .card { padding: 10px; margin: 10px; }
#d1btn, #d2btn {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 100px;
}
@media only screen and (min-width: 499px) {
    #d1btn, #d2btn {
        width: 40%;
    }
}
@media only screen and (max-width: 498px) {
    #d1btn, #d2btn {
        width: 75vw;
    }
}